button {
  color: $black;
  font-family: Campton;
  text-transform: uppercase;
  border: 3px solid $black;
  background: $white;
  box-shadow: 7px 6px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}
.btn-lg {
  height: 107px;
  width: 341px;
  font-size: 40px;
  line-height: 107px;
}
.btn-small {
  height: 76px;
  width: 252px;
  font-size: 28px;
  line-height: 76px;
}
.btn-viewExamples {
  font-size: 28px;
  letter-spacing: 0;
  height: 76px;
  line-height: 76px;
  text-decoration: underline;
  box-shadow: none;
  border: none;
  text-transform: initial;
  margin-left: 60px;
}
// .btn-light {
//   opacity: 0.3;
//   &.active {
//     opacity: 1;
//   }
// }
.btn-save {
  border: 1px solid;
  box-shadow: none;
  padding: 5px;
  font-size: 15px;
}
.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.3;
  width: 25px;
  height: 25px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &::before,
  &::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: $black;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.btn-submit {
  height: 68px;
  width: 100%;
  font-size: 25px;
  line-height: 68px;
  display: block;
  box-shadow: none;
  border-width: 2px;
  &:disabled {
    opacity: 1;
  }
  &:hover {
    background-color: $black;
    color: $white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
  }
}