button {
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  border: 3px solid $black;
  background: $white;
  box-shadow: 7px 6px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}
.btn-lg {
  height: 77px;
  width: 319px;
  max-width: 100%;
  line-height: 77px;
  font-size: 23px;
  font-weight: bold;
}
.btn-small {
  color: $black;
  font-size: 19px;
  font-weight: 700;
  line-height: 57px;
  height:57px;
  width:258px;
  &.yellow {
    background: $yellow;
  }
}
.btn-form {
  width: 197px;
  height: 76px;
  line-height: 76px;
  font-size: 23px;
  font-weight: bold;
}
.btn-more {
  color: $black;
  font-size: 22px;
  font-weight: 500;
  line-height: 80px;
  text-decoration: underline;
  box-shadow: none;
  border: none;
  background: transparent;
}
.btn-view {
  color: $black;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: underline;
  box-shadow: none;
  border: none;
  background: transparent;
}
// .btn-light {
//   opacity: 0.3;
//   &.active {
//     opacity: 1;
//   }
// }
.btn-save {
  border: 1px solid;
  box-shadow: none;
  // padding: 5px;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  width: 55px;
  // font-size: 0.78vw;
}
.closeBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0.3;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &::before,
  &::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: $black;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.btn-submit {
  height: 70px;
  width: 100%;
  line-height: 70px;
  display: block;
  font-size: 25px;
  // font-size: 28px;
  // font-size: 1.45vw; 
  // line-height: 3.72vw;
  // height: 3.72vw;
  margin-top: 50px;
}
