.outer-wrapper {
  position: relative;
  overflow-x: hidden;
  // background-color: $lightyellow;
  background-color: $black;
  // min-width: 832px;
  // min-height: 832px;

  > div > div:first-child {
    overflow: visible !important;
  }

  &.zoom-mode {
    cursor: all-scroll !important;

    * {
      cursor: all-scroll;
    }

    // * {
    //   &:not(.controls),
    //   &:not(.desc),
    //   &:not(.zoom-controls),
    //   &:not(button),
    //   &:not(.btn-control) {
    //     cursor: all-scroll !important;
    //   }
    // }

    .click-disabler,
    image {
      display: none;
    }
  }

  &.edit-mode {
    cursor: default;

    > div > div:first-child {
      cursor: default !important;
    }

    g {
      &:hover {
        cursor: pointer !important;
      }
    }
  }

  .desc {
    position: absolute;
    top: 60px;
    width: 170px;
    right: 20px;
    z-index: 20;
    color: $white;
    cursor: default;
  }

  .click-disabler {
    z-index: 20;
    position: absolute;
    top: -300px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    // width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    animation: opacity 0.3s linear;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
    display: block;
    animation: gone 1s;
  }

  .zoom-controls {
    position: absolute;
    top: 130px;
    right: 20px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 30;
  }

  .controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $white;
    z-index: 30;
    width: 10rem;
    display: flex;
    justify-content: flex-end;
    cursor: default;
    span:first-child {
      cursor: pointer;
    }
    span {
      display: flex;
      margin-bottom: 1.5rem;
    }

    button {
      cursor: pointer !important;
      &:disabled {
        cursor: default !important;
      }
    }
  }

  &.viewMode {
    div:nth-child(2) {
      div {
        cursor: default !important;
      }
    }
  }
}
.chart-wrapper {
  // background: $black;
  // height: 100vh;
  // overflow-x: visible;
  height: calc(100vh - 6.4rem);
  // min-height: 832px;
  // min-width: 832px;
  width: 100vw;
  // width: 200vw;
  // transform: scale(0.5) translate(-50%, -50%);
  position: relative;
  z-index: 10;
  opacity: 0;
  animation: opacity 0.5s linear forwards;
  overflow: visible;
  // animation-delay: 3s;

  // .venn-intersection {
  //   path {
  //     &:hover {
  //       fill: rgba(128, 128, 0, 1) !important;
  //     }
  //   }
  // }
  // @media (max-width: 832px) {
  //   overflow: auto;
  // }
  // @media (max-height: 832px) {
  //   overflow: visible;
  // }
  svg {
    animation: reveal 0.1s linear;
    overflow: visible;
    // width: 832px;
    // height: 832px;
    // min-width: 832px;
    // min-height: 832px;

    path {
      transition: fill 0.25s ease-in;
    }

    &:hover {
      path {
        z-index: 1;
        // fill: rgba(0, 0, 0, 1) !important;
      }
    }

    // image {
    //   transition: all 0.3s linear;
    //   opacity: 0.3;
    //   clip-path: circle(0 at center);
    //   filter: blur(30px);
    // }
    // transform: rotate(45deg) scale(0.85);

    text {
      transform-origin: center;
      text-anchor: middle;
      // cursor: pointer;
      // transform: translate(0, 0) rotate(-45deg);
    }
  }
  foreignObject {
    overflow: visible;
    position: relative;
    z-index: -1;
    // max-width: 0;
    // max-height: 0;

    &.items-big {
      .items {
        font-size: 18px;
      }
    }

    &.items-medium {
      .items {
        font-size: 14px;
      }
    }

    &.items-small {
      .items {
        font-size: 8px;
      }
    }
  }
  .items-wrapper {
    // transition: all 0.3s ease-in;
    // visibility: hidden;
    // opacity: 0;
    // transform-origin: center;
    // transform: scale(0);
    overflow: visible;
    max-width: 100%;
  }
  .items {
    color: $white;
    // background-color: red;
    // border: 1px solid red;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .item {
    // margin: 3px;
    width: 100%;
  }

  g {
    tspan {
      white-space: nowrap;
    }
    path {
      stroke: $white;
      // fill-opacity: 0.25 !important;
      // transition: stroke-width 0.3s linear;
    }
    &[data-venn-sets="A_B_D"],
    &[data-venn-sets="A_B_C"],
    &[data-venn-sets="B_C_D"],
    &[data-venn-sets="A_C_D"] {
      text {
        tspan {
          opacity: 0.5;
        }
      }
    }
    &[data-venn-sets="A_B"],
    &[data-venn-sets="B_C"],
    &[data-venn-sets="C_D"],
    &[data-venn-sets="A_D"] {
      tspan {
        opacity: 0.5;
        transition: opacity 0.3s ease-in;
      }
    }
    &:hover {
      &[data-venn-sets="A_B"],
      &[data-venn-sets="B_C"],
      &[data-venn-sets="C_D"],
      &[data-venn-sets="A_D"] {
        tspan {
          opacity: 1;
        }
      }
      path {
        // stroke-width: 5 !important;
        z-index: 5;
        fill: rgba(255, 255, 172, 0.3) !important;
      }
      image {
        opacity: 0.7;
        clip-path: circle(500px at center);
        // transform-origin: center;
      }
    }
    &.active {
      path {
        // stroke-width: 5 !important;
        fill: rgba(255, 255, 255, 0.3) !important;
      }
    }
  }

  g:hover {
    .items {
      opacity: 1;
    }
    // .item {
    //   animation: pulse 1.4s linear infinite;
    // }
  }
}

.hide-tooltip {
  .ikigai-tooltip {
    display: none;
  }
  > div {
    z-index: 100;
  }
  g {
    cursor: default !important;
    &:not(.active) {
      path {
        stroke-width: 1 !important;
      }
      image {
        display: none;
      }
    }
  }
}

.ikigai-tooltip {
  // padding: 10px;
  // background: rgba(255, 255, 255, 0.5);
  // background-color: rgba(255, 255, 255, 0.95);
  // background-color: #fff;
  // border: 2px solid $black;
  position: fixed;
  transition: background-color 0.2s linear;
  // max-width: 240px;
  // max-width: 266px;
  max-width: 435px;
  padding: 30px 50px;
  z-index: 1000;
  opacity: 0;
  // border: 1px solid #979797;
  // background-color: #000000;
  // box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.75);
  background-color: $white;
  color: $black;

  &.hidden {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent $white;
    border-width: 20px 20px 20px 0;
    top: 50px;
    left: -20px;
    margin-top: -20px;
  }
  &:before {
    content: "";
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: transparent $white;
    border-width: 21px 21px 21px 0;
    top: 50px;
    left: -21.5px;
    margin-top: -21px;
    display: block;
  }
  & div {
    padding: 9px 0 9px;
    & p {
      color: $black;
      font-family: "IBMPlexSans";
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      padding-bottom: 15px;
    }
    & span {
      color: #adadad;
      font-family: 'IBMPlexSans-Medium';
      font-size: 18px;
      font-style: italic;
      font-weight: 500;
      line-height: 23px;
    }

    // &:last-of-type {
    //   height: 45px;
    //   width: 240px;
    //   background-color: rgba(216, 216, 216, 0.12);
    //   padding: 0 15px;
    //   & p:last-of-type {
    //     padding-bottom: 0;
    //     font-family: 'IBMPlexSans';
    //     line-height: 45px;
    //     padding-left: 25px;
    //     position: relative;
    //     & span {
    //       width: 16px;
    //       height: 16px;
    //       position: absolute;
    //       left: 0;
    //       top: 8%;
    //       &::before,
    //       &::after {
    //         position: absolute;
    //         left: 10px;
    //         top: 50%;
    //         content: " ";
    //         height: 16px;
    //         width: 3px;
    //         background-color: $white;
    //       }
    //       &::before {
    //         transform: rotate(90deg);
    //       }
    //       &::after {
    //         transform: rotate(180deg);
    //       }
    //     }
    //   }
    // }
  }

  // &:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: -27px;
  //   left: -8px;
  //   width: 0;
  //   height: 0;
  //   border-left: -15px solid transparent;
  //   border-right: 10px solid transparent;
  //   z-index: 1;
  //   transform: rotate(-25deg);

  //   border-bottom: 30px solid $black;
  // }
  // &:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: -18px;
  //   left: -3px;
  //   width: 0;
  //   height: 0;
  //   border-left: -12px solid transparent;
  //   border-right: 10px solid transparent;
  //   z-index: 1;
  //   transform: rotate(-25deg);

  //   border-bottom: 26px solid $white;
  // }

  // &:hover {
  //   background-color: rgba(255, 255, 255, 1);
  // }
}

.btn-control,
.zoom-in-btn,
.zoom-out-btn {
  // width: 100px;
  margin: 0 5px;
  padding: 7px;
  // line-height: 26px;
  // height: 26px;
  border: none;
  opacity: 0.6;
  transition: all 0.3s ease-in;

  &:hover:not(:disabled) {
    opacity: 0.85;
  }

  &.active {
    opacity: 1 !important;
  }

  &:disabled {
    cursor: default;
  }
}

.zoom-in-btn,
.zoom-out-btn {
  &:hover:not(:disabled) {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gone {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes pulse {
  25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
  }

  75% {
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1),
      0px 0px 3px 0px rgba(255, 255, 255, 1),
      0px 0px 3px 0px rgba(255, 255, 255, 1);
  }
}

@keyframes reveal {
  from {
    stroke-width: 30;
  }
  to {
    stroke-width: 1;
  }
}

.chart-mini {
  // margin: 20px;
  cursor: default;
  background-color: $lightyellow;
  overflow: visible;
  min-height: 470px;
  // padding: 10px 0 10px 15px;
  min-width: 300px;
  @media (min-width: 768px){
    min-width: 470px;
    margin-left: -50px;
    margin-bottom: 20px;
  }
  @media (max-width: 1600px) {
    // padding: 10px 20px;
  }
  @media (max-width: 1500px) {
    // padding: 10px 35px;
  }

  g {
    position: absolute;
    z-index: 1;
  }

  .items {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // background-color: red;
    // border: 1px solid red;

    &.none {
      // background-color: transparent;
    }

    .item {
      // font-size: 10px;
      font-size: 0;
      margin: 3px;
    }
  }

  foreignObject {
    overflow: visible;
  }

  svg {
    overflow: visible;
  }

  tspan {
    font-size: 10px;
    font-weight: bold;
    color: #131415;
    white-space: pre-line;
  }
}
