.congratulations {
  text-align: center;
  background: $white;
  padding: 40px;
}
.congrats-title {
  font-size: 40px;
}
.congrats-subTitle {
  text-align: center;
}
.congrats-body {
  margin: 20px auto;
}
@media #{$medium} {
  .congrats-title {
    text-align: center;
    font-size: 114px;
  }
}
@media #{$large} {
  .congratulations {
    padding: 100px 40px 120px;
  }
  .congrats-body {
    width: 65%;
    margin: 20px auto 40px;
  }
}