.congratulations {
  text-align: center;
  background: $lightyellow;
  padding: 40px 0;
}
.congrats-title {
  font-size: 52px;
}
.congrats-subTitle {
  text-align: center;
}
.congrats-body {
  margin: 20px auto;
  & p {
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 24px;
  }
}
.congrats-btns {
  margin-top: 30px;
}
.field-wrapper.congrats input{
  padding-left: 0;
  background-color: $lightyellow !important;
}
.field-wrapper.congrats input::selection{
  background-color: $lightyellow !important;
}

.field-wrapper.congrats input:-webkit-autofill,
.field-wrapper.congrats input:-webkit-autofill:focus {
  -webkit-box-shadow:0 0 0 50px #FAEED0 inset; 
}
@media #{$small} {
  .field-wrapper.congrats input {
    max-width: 350px;
  }
}
@media #{$medium} {
  .congrats-title {
    text-align: center;
    font-size: 114px;
  }
}
@media #{$large} {
  .congrats-title {
    font-size: 80px;
    line-height: 100px;
  }
  .congratulations {
    padding: 66px 0;
  }
  .congrats-body {
    width: 55%;
    margin: 20px auto 0;
  }
}