.footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    & .foot-wrap {
        & .foot-text {
            color: $white;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 36px;
            text-align: center;
        }
        & .foot-nav{
            text-align: center;
            & li {
                color: $white;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 36px;
                display: inline-block;
                padding-left: 40px;
                &:first-child {
                    padding-left: 0;
                } 
                & a {
                    color: $white;
                }  
            }
        }
    }
    
}
@media #{$medium} {
	.footer {
        & .foot-wrap { 
            & .foot-text {
                text-align: left;
                display: inline-block;
            }
            & .foot-nav {
                text-align: right;
                float: right;
                
            }
        }
        
    }
}

	
