.section-dark {
  background: $black;
}
.wizard {
  display: none;
  // display: flex;
  // padding: 76px 0 89px;
  // padding: 50px 0;
  // width: 90%;
}
.wizard__step {
  flex: 1 0 0;
  position: relative;
  &.active {
    &::before {
      border-top: 3px solid $white;
      content: "";
      left: 10%;
      position: absolute;
      right: 0;
      top: 15px;
      width: 70%;
      margin: 0 auto;
    }
    &:last-child {
      border: 0;
      flex: 0 0 auto;
      &::before {
        border: 0 none;
      }
    }
  }
  // &.toBeFilled {
  //   &::before {
  //     border-top: 3px solid $white;
  //     content: "";
  //     left: 10%;
  //     position: absolute;
  //     right: 0;
  //     top: 15px;
  //     width: 70%;
  //     margin: 0 auto;
  //     transform-origin: 0% 50%;
  //     transform: scaleX(0);
  //     animation: show 0.5s ease-in forwards;
  //   }
  // }
  &:last-child {
    flex: none;
  }
}
.rectangle {
  height: 20px;
  width: 20px;
  // border: 3px solid $white;
  transform: rotate(315deg);
  display: none;
  
  // &.active {
  //   background-color: $white;
  // }
}
.form-bg {
  background: $white;
  padding: 0;
}
.formHead-title,
.page-number {
  opacity: 0.5;
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 44px;
  text-transform: uppercase;
  display: inline-block;
}
.formHead-title {
  cursor: pointer;
  position: relative;
  &:before {
    content: '<';
    display: inline-block;
    position: absolute;
    left: -55px;
    top: -1px;
    font-size: 24px;
  }
}
.form-title {
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 44px;
}
.form-subtitle {
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 24px 0 20px;
}
.form-listTitle {
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight:600;
  line-height: 22px;
}
.form-list {
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px; 
  padding: 0 94px 50px 0;
  & li {
    padding-top: 15px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 6px;
      width: 6px;
      transform: rotate(315deg);
      background-color: #000000;
      margin-right: 11px;
      line-height: 32px;
    }
  }
}
.page-number {
  padding-left: 7px;
  & li {
    display: inline-block;
    &:last-child {
      &:before {
        display: inline-block;
        content: "of";
        padding: 0 5px;
      }
    }
  }
}
.form-head {
  padding-bottom: 20px;
}
.form-btns {
  padding: 60px 0 0;
  display: inline-block;
}
.form-foot {
  max-width: 207px;
  display: inline-block;
  vertical-align: middle;
  & p {
    color: $black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    padding-top: 20px;
  }
}
.form-select {
  text-align: center;
  padding: 20px;
}
.form-selectTitle {
  color: #A6A6A6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align:left;
  font-weight: 300;
  padding-bottom: 20px;
}
// .form-questions {
//   // padding-top: 172px;
//   padding-top: 50px;
// }
// .form-questions-title {
//   color: $white;
//   font-family: IBM Plex Sans;
//   // font-size: 38px;
//   // line-height: 56px;
//   font-weight: 600;
//   font-size: 1.80vw;
//   line-height: 2.91vw;
// }
// .form-questions-list {
//   color: $white;
//   padding-top: 27px;
//   & li {
//     padding-bottom: 20px;
//     &:before {
//       content: "";
//       display: inline-block;
//       vertical-align: middle;
//       height: 11px;
//       width: 11px;
//       transform: rotate(315deg);
//       background-color: $white;
//       margin-right: 14px;
//       // line-height: 46px;
//       line-height: 2.39vw;
//     }
//     &:last-child {
//       padding-bottom: 0;
//     }
//   }
// }
.css-6q0nyr-Svg {
  opacity: 0.2 !important;
}
*[class*="custom-select"] {
  //   background-color: red;
  &[class*="__indicators"] {
    display: none;
  }
  &[class*="control"] {
    &:hover {
      border-color: inherit;
    }
  }
  &[class*="multi-value__remove"] {
    svg {
      transform: scale(1.5);
    }
    &:hover {
      background-color: $white;
      color: inherit;
    }
  }
  &[class*="__option--is-focused"] {
    color: $white;
    cursor: pointer;
    background: #7d7d7d !important;
    mark {
      color: $white;
    }
  }
  &[class*="custom-select__multi-value"] {
    color: $black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
  }
  &[class*="__input"] {
    color: $black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
  }
  &[class*="value-container"] {
    mark {
      font-family: Campton !important;
    }
  }
  &[class*="-placeholder"] {
    opacity: 0.2;
    color: $black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    line-height: 44px;
  }
}

@keyframes show {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.fill {
  background-color: transparent;
  animation: fill 0.3s ease-in forwards;
}
@keyframes fill {
  0% {
    background-color: transparent;
  }
  100% {
    // background-color: $white;
    background-color: $black;
  }
}

@media #{$small} {
  .form-select {
    text-align: left;
  }
  .form-foot {
    padding-left: 60px;
  }
}

.field-wrapper {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 100%;
    outline: none;

    &.invalid {
      border-color: red;
    }
  }

  .error {
    width: 100%;
  }
}

.error {
  color: red;
  padding-top: 5px;
  // font-size: 14px;
  font-size: 0.73vw;
  font-family: Campton;
}

fieldset {
  margin-top: 50px;
  border: none;
  legend {
    cursor: pointer;
    color: #7d7d7d;
    margin-bottom: 10px;

    &:hover {
      color: $black;
    }
  }
}
@media #{$large} {

  .form-bg {
    padding: 90px 60px;
  }
  .form-foot {
    & p {
      padding-top: 0;
    }
  }
}
