.section-dark {
  background: $black;
}
.wizard {
  display: flex;
  // padding: 76px 0 89px;
  padding:50px 0;
  width: 122%;
}
.wizard__step {
  flex: 1 0 0;
  position: relative;
  &.active {
    &::before {
      border-top: 3px solid $white;
      content: "";
      left: 10%;
      position: absolute;
      right: 0;
      top: 15px;
      width: 70%;
      margin: 0 auto;
    }
    &:last-child {
      border: 0;
      flex: 0 0 auto;
      &::before {
        border: 0 none;
      }
    }
  }
  &.toBeFilled {
    &::before {
      border-top: 3px solid $white;
      content: "";
      left: 10%;
      position: absolute;
      right: 0;
      top: 15px;
      width: 70%;
      margin: 0 auto;
      transform-origin: 0% 50%;
      transform: scaleX(0);
      animation: show 0.5s ease-in forwards;
    }
  }
}
.rectangle {
  height: 27px;
  width: 27px;
  border: 3px solid #ffffff;
  transform: rotate(315deg);
  display: block;
  &.active {
    background-color: $white;
  }
}
.form-bg {
  background: $white;
  padding: 64px 73px 151px 77px;
  // padding: 100px 0;
}
.formHead-title,
.page-number {
  opacity: 0.5;
  color: $black;
  font-family: Campton;
  // font-size: 28px;
  // line-height: 46px;
  font-size: 1.45vw; 
  line-height: 2.39vw;
  display: inline-block;
}
.form-title {
  color: $black;
  font-family: Casta;
  // font-size: 120px;
  font-size: 3.48vw;
  font-weight: 100;
  // line-height: 132px;
  line-height: 5.20vw;
}
.page-number {
  float: right;
  & li {
    display: inline-block;
    &:last-child {
      &:before {
        height: 23px;
        width: 17px;
        border-right: 2px solid #000000;
        opacity: 0.5;
        display: inline-block;
        content: "";
        transform: rotate(390deg);
        margin: 0 30px 0 20px;
      }
    }
  }
}
.form-head {
  padding-bottom: 49px;
}
.form-select {
  padding-top: 65px;
}
.form-list-title {
  opacity: 0.4;
  color: $black;
  font-family: Campton;
  // font-size: 18px;
  font-size: 0.93vw;
  letter-spacing: 0;
  line-height: 2.39vw;
  // line-height: 46px;
  padding: 45px 0 16px;
}
.form-btns {
  padding: 83px 0 30px;
}
.form-foot {
  & p {
    opacity: 0.5;
    color: $black;
    font-family: Campton;
    // font-size: 18px;
    // line-height: 32px;
    font-size: 0.93vw;
    line-height: 1.66vw;
  }
}
.form-questions {
  // padding-top: 172px;
  padding-top: 50px;
}
.form-questions-title {
  color: $white;
  font-family: Campton-Bold;
  // font-size: 38px;
  // line-height: 56px;
  font-weight: 600;
  font-size: 1.97vw;
  line-height: 2.91vw;
}
.form-questions-list {
  color: $white;
  padding-top: 27px;
  & li {
    padding-bottom: 20px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 11px;
      width: 11px;
      transform: rotate(315deg);
      background-color: $white;
      margin-right: 14px;
      // line-height: 46px;
      line-height: 2.39vw;
    }
    &:last-child{
      padding-bottom: 0;
    }
  }
}

*[class*="custom-select"] {
  //   background-color: red;
  &[class*="__indicators"] {
    display: none;
  }
  &[class*="control"] {
    &:hover {
      border-color: inherit;
    }
  }
  &[class*="multi-value__remove"] {
    svg {
      transform: scale(1.5);
    }
    &:hover {
      background-color: $white;
      color: inherit;
    }
  }
  &[class*="__option--is-focused"] {
    color: $white;
    cursor: pointer;
    background: #7d7d7d !important;
    mark {
      color: $white;
    }
  }
  &[class*="custom-select__multi-value"] {
    color: $black;
    font-family: Campton;
    // font-size: 28px;
    letter-spacing: 0;
    // line-height: 46px;
    font-size: 1.45vw; 
    line-height: 2.39vw;
  }
  &[class*="__input"] {
    color: $black;
    font-family: Campton;
    // font-size: 28px;
    letter-spacing: 0;
    // line-height: 46px;
    font-size: 1.45vw; 
    line-height: 2.39vw;
  }
  &[class*="value-container"] {
    mark {
      font-family: Campton !important;
    }
  }
  &[class*="-placeholder"] {
    font-family: Campton;
    // font-size: 28px;
    letter-spacing: 0;
    // line-height: 46px;
    opacity: 0.2;
    color: $black;
    font-size: 1.45vw; 
    line-height: 2.39vw;
  }
}

@keyframes show {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.fill {
  background-color: transparent;
  animation: fill 0.3s ease-in forwards;
}
@keyframes fill {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $white;
  }
}

@media #{$large} {
  .form-questions {
    padding-left: 151px;
  }
}

.field-wrapper {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 100%;
    outline: none;

    &.invalid {
      border-color: red;
    }
  }

  .error {
    width: 100%;
  }
}

.error {
  color: red;
  padding-top: 5px;
  // font-size: 14px;
  font-size: 0.73vw;
  font-family: Campton;
}

fieldset {
  margin-top: 50px;
  border: none;
  legend {
    cursor: pointer;
    color: #7d7d7d;
    margin-bottom: 10px;

    &:hover {
      color: $black;
    }
  }
}
