// [class^="col"] {
// 	width: 100%;
// 	float: none;
// }

.shell {
	width: 89%;
	margin: auto;

} 
.col_40,
.col-60 {
	width: 100%;
}

@media #{$large} {
	.col-wrapper {
		display: flex;
	}
	
	.col_40 { width: 40%;}
	.col_60 { width: 60%; }
		
}

	

