// [class^="col"] {
// 	width: 100%;
// 	float: none;
// }

.shell {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}
.col-50 {
  width: 100%;
}

@media #{$large} {
  .shell {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
  }
  .col-wrapper {
    display: flex;
  }

  .col_50 {
    width: 50%;
  }
}
