// [class^="col"] {
// 	width: 100%;
// 	float: none;
// }

.shell {
	width:90%;
	margin: 0 auto;
	padding:0 15px;

} 
.col_40,
.col-60 {
	width: 100%;
}

@media #{$large} {
	.shell {
		max-width:1400px;
		margin: 0 auto;
		padding:0 60px;
	
	} 
	.col-wrapper {
		display: flex;
	}
	
	.col_40 { width: 40%;}
	.col_60 { width: 60%; }
		
}

	

