.shell {
  // width: 89%;
  // margin: 0 auto;
  // overflow-x: visible;
}
@media #{$large} {
  .shell {
    // width: 89%;
    // margin: 0 auto;
    // padding: 0;
  }
}

.section {
  padding: 134px 0 146px;
  background: $yellow;
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}
.section-content {
  width: 60%;
  float: left;
}
.section-image {
  width: 40%;
  float: left;
}

.section-body {
  padding: 15px 0 35px;
}
.section-white{
  background-color: $white;
}
.section-intro {
  padding-top: 120px;
  padding-bottom: 67px;
  & p {
    max-width: 794px;
    margin: auto;
    color: $black;
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    padding-top: 16px;
  }
}
// .bg-section {
//   // background-image: url('../images/ALL\ TOGETHER.svg');
//   background-size: contain;
//   background-position: left;
//   background-repeat: no-repeat;
//   background-color: $black;
//   &:after {
//     clear: both;
//     display: block;
//     content: "";
//   }
// }
.aside-wrapper {
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}
.aside {
  width: 50%;
  float: left;
  padding-bottom: 142px;
  // background-color: $white;
  // border: 3px solid $black;
  // color: $black;
  // margin-top: -64.5px;
  // float: right;
  // padding: 167px 131px 109px;
  // position: relative;
  & .aside-head {
    & h2 {
      text-align: left;
    }
    & h3 {
      color: $black;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 28px;
      line-height: 44px;
      font-weight: 400;
    }
  }
}
.aside-content  {
  padding: 36px 0 32px;
  & p {
    color: $black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom:20px;
    &:last-child {
      padding-bottom:0;
    }
  }
}
.aside-list {
  padding: 20px 0 28px;
  & li {
    color: $black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 16px;
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 6px;
      width: 6px;
      transform: rotate(315deg);
      background-color: $black;
      margin-right: 11px;
      line-height: 32px;
    }
    &:last-child{
      padding-bottom: 0;
    }
  }
  
}

.chart-bg {
  position: absolute;
  // height: 100%;
  // width: 100%;
  // top: 0;
  // left: -110%;
  height: 110%;
  width: 130%;
  top: 0;
  left: -120%;
  path {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 3px;
  }
}
