.items-popup {
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
  width: 372px;
  max-height: 90vh;
  // max-height: 430px;
  // height: 200px;
  background-color: $white;
  top: 50%;
  left: 50%;
  z-index: 300;
  padding: 35px 35px 38px 25px;
  animation: showScale 0.1s ease-in;
  .items-popupWrapper {
    position: relative;
    // line-height: 46px;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: -25px;
    //   top: 25px;
    //   width: 0;
    //   height: 0;
    //   border: 20px solid transparent;
    //   border-right-color: $white;
    //   border-left: 0;
    //   margin-top: -20px;
    //   margin-left: -20px;
    // }
    & [class*="custom-select"] {
      &[class*="custom-select__multi-value"],
      &[class*="-placeholder"] {
        // font-size: 22px;
        // line-height: 36px;
        font-size: 18px;
        line-height: 28px;
        // font-size: 0.93vw;
        // line-height: 1.45vw;
      }
      &[class*="__input"] {
        font-size: 18px;
        font-family: 'IBMPlexSans-Regular';
      }
    }
    
  }

  button {
    float: right;
    margin-top: 30px;
  }

  h4 {
    font-size: 20px;
    // font-size: 1.04vw;
    margin-bottom: 20px;
    line-height: 24px;
    // line-height: 1.25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .error-messages {
      margin-top: 10px;
    }
  }

  .select-wrapper {
    width: 100%;
    // overflow-x: hidden;
    // overflow-y: visible;
    max-height: calc(90vh - 140px);
  }
  img {
    max-width: 20px;
    background-color: $black;
    margin-right: 10px;
    display: inline-flex;
  }
}

@keyframes showScale {
  from {
    transform: translate(-50%, -50%) scale(0);
    // z-index: -1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    // z-index: 2;
  }
}
