@import "reset";
@import "variables";
@import "helpers";
@import "typography";
@import "home";
@import "buttons";
@import "header";
@import "footer";
@import "chart";
@import "form";
@import "congratulations";
@import "modal";
@import "loader";
@import "itemsPopup";

.app-wrapper {
  animation: fadeIn linear 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-height: 700px) {
  .app-wrapper {
    min-width: 853px;
    min-height: 853px;
  }
}
