.modal-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  overflow-x: scroll;
  position: fixed;

  .modal-wrapper {
    max-width: 400px;
    width: 100%;
    // max-width: 90%;
    // max-height: 90%;
    background-color: $white;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 18em auto;
    text-align: center;
    
    border-radius:6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    .modal-content {
      width: 100%;
    }
    .closeBtn {
      top: 16px;
      right: 16px;
    }
    &.show {
      animation: show .2s;
      opacity: 1;
      z-index: 2;
      transform: scale(1);
    }
    
  }
}

@keyframes show{
  from {
    transform: scale(0);
    z-index: -1;
  } to {
    transform: scale(1);
    z-index: 2;
  }
}

.modal-title {
  & h4 {
    opacity: 0.5;
    color: #000000;
    font-family: Campton;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  } 
}
.field-wrapper {
  margin-bottom: 15px;
  & input {
  border-color:rgba(0, 0, 0, 0.3);
  border-width: 1px;
  color: $black;
  font-weight: 300;
  font-size: 18px;
  padding: 12px;
  font-family: Campton;
  color: $black;
  }
}
.view {
  font-family: Campton;
  font-size: 18px;
  padding-bottom: 20px;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
