html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 114px;
  font-family: Casta;
  color: $black;
  line-height: 126px;
  text-align: left;
  font-weight: 100;
}

h2 {
  color: $black;
  font-size: 32px;
  font-family: "IBM Plex Sans";
  font-weight: bold;
  line-height: 44px;
  text-align: center;
} 

h3 {
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 44px;
  font-weight: 300;

}
p, ul { 
  color: $black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
  // line-height: 46px;
  font-weight: 200;
}
h6{
  color: $white;
  font-family: Campton-Bold;
  font-size: 22px;
  line-height: 24px;
  text-align: left;
  font-weight:bold;
  // font-size: 1.25vw; 
  // line-height: 1.5vw;
}