/* Colors */

$white:#ffffff;
$black:#000000;
$yellow:#F4C758;
$lightyellow: #FAEED0;

$small: "only screen and (min-width : 768px)";
$medium: "only screen and (min-width : 992px)";
$large: "only screen and (min-width : 1400px)";
